<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>css动画可视化编辑器</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" type="text/css" href="css/css_edit.css">
</head>

<body>
	<div class="main">
		<!-- 运动区域 -->
		<div class="moveContainer">
			<header>
				<h1>
					运动区域
				</h1>
			</header>
			<div class="moveView">
				<!-- 立体滑块 -->
				<div id="moveBox" class="box3D">
					<div id="page1">1</div>
					<div id="page2">2</div>
					<div id="page3">3</div>
					<div id="page4">4</div>
					<div id="page5">5</div>
					<div id="page6">6</div>
				</div>
			</div>
			
			<input id="run" class="btn btn-danger" type="button" value="Go!" v-on:click="startRun">
		</div>
		
		<!-- 参数设置区域 -->
		<div id="editContainer" class="editContainer">
			<header>
				<h1>
					运动参数设置
				</h1>
			</header>
			<form>
				<div class="contentContainer">
					<div class="runTimeBox box">
						<label for="timeLine">运行时间：</label>
						<input id="timeLine" type="range" min="0.1" max="10" step="0.1" value="1" v-model="runTime">
						<output for="timeLine" id="timeValue">{{runTime}}s</output>
					</div>
					<div class="timeFunctionBox box">
						<label>速度曲线：</label>
						<pre id="cubic">{{cubicStr}}</pre>
						<div class="selectFunction">
					
							<div id="coordinate-plane" class="coordinate-plane"> 
								<span class="control-point" id="P0"></span> 
								<span class="control-point" id="P3"></span>
								<canvas id="canvas" height="200" width="200" class="bezier" style="background-color:#555;"></canvas>
							</div>
							<ul>
								<li v-for="timeFunction in timeFunctionArr">
									<input type="radio" v-model="timeFunctionModel" :value="timeFunction.name">{{timeFunction.name}}
								</li>
							</ul>
						</div>
					</div>
					<div class="runPropertyBox box">
						<label>动画属性：</label>
						<ul>
							<li v-for="propertyItem in runPropertys" :id="propertyItem.name">
								<div class="labelBox">
									<input type="checkbox" name="runProperty" value="translate3d" v-model="propertyItem.display">{{propertyItem.name}}
								</div>
								<div id="translate3dBox" class="propertyBox" v-show="propertyItem.display">
									<div v-for="option in propertyItem.options" class="property" :style="propertyItem.width?propertyItem.width:option.width">
										<label>
											<span>{{option.name}}:</span>
											<input v-model="option.value" :step="option.step" type="number">
										</label>
									</div>
								</div> 
							</li>
						</ul>

					</div>
					<div class="cssCodeBox box">
						<label>css代码：</label>
						<pre id="code">{{{code}}}</pre>
					</div>

				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>